In [11]:
import pandas as pd

In [ ]:
df.head()

In [53]:
df=pd.read_csv('Data/test.csv')

In [47]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0,Location,Attribute,Value,Year,Week
0,0,0.0,Rexburg / Ririe,Barley_Feed,NaN,2022.0,1970-01-01 00:00:00.000000048
1,1,1.0,Idaho Falls,Barley_Feed,NaN,2022.0,1970-01-01 00:00:00.000000048
2,2,2.0,Blackfoot / Pocatello,Barley_Feed,NaN,2022.0,1970-01-01 00:00:00.000000048
3,3,3.0,Grace / Soda Springs,Barley_Feed,13.25,2022.0,1970-01-01 00:00:00.000000048
4,4,4.0,Burley / Rupert,Barley_Feed,NaN,2022.0,1970-01-01 00:00:00.000000048
5,7,6.0,Meridian,Barley_Feed,12.50,2022.0,1970-01-01 00:00:00.000000048
6,8,7.0,Nezperce / Craigmont,Barley_Feed,10.46,2022.0,1970-01-01 00:00:00.000000048
7,9,8.0,Lewiston,Barley_Feed,10.98,2022.0,1970-01-01 00:00:00.000000048
8,10,9.0,Rexburg / Ririe,Barley_Feed,NaN,2021.0,1970-01-01 00:00:00.000000033
9,11,10.0,Idaho Falls,Barley_Feed,NaN,2021.0,1970-01-01 00:00:00.000000033

In [38]:
df['Week'] = df['Week'].astype(object)
df['Year'] = df['Year'].astype(object)

In [39]:
df.dtypes

Unnamed: 0.1      int64
Unnamed: 0      float64
Location         object
Attribute        object
Value           float64
Year             object
Week             object
dtype: object

In [54]:
df

,Unnamed: 0.1,Unnamed: 0,Location,Attribute,Value,Year,Week
0,0,0.0,Rexburg / Ririe,Barley_Feed,NaN,2022.0,48.0
1,1,1.0,Idaho Falls,Barley_Feed,NaN,2022.0,48.0
2,2,2.0,Blackfoot / Pocatello,Barley_Feed,NaN,2022.0,48.0
3,3,3.0,Grace / Soda Springs,Barley_Feed,13.250,2022.0,48.0
4,4,4.0,Burley / Rupert,Barley_Feed,NaN,2022.0,48.0
...,...,...,...,...,...,...,...
5812,6483,NaN,Moscow,HWW,8.335,2021.0,31.0
5813,6494,NaN,Moscow,HWW,6.835,2021.0,16.0
5814,6505,NaN,Moscow,HWW,11.960,2022.0,17.0
5815,6516,NaN,Moscow,HWW,4.835,2020.0,43.0
5816,6527,NaN,Moscow,HWW,12.085,2022.0,18.0

In [62]:
newdf = df[(df.Location == "Moscow") | (df.Year == "2022.0")]

In [63]:
newdf

      Unnamed: 0.1  Unnamed: 0 Location    Attribute   Value    Year  Week
5295            20         NaN   Moscow  Barley_Feed   8.335  2021.0  33.0
5296            31         NaN   Moscow  Barley_Feed  11.835  2022.0  11.0
5297            42         NaN   Moscow  Barley_Feed  10.585  2021.0  49.0
5298            53         NaN   Moscow  Barley_Feed   4.960  2020.0  44.0
5299            64         NaN   Moscow  Barley_Feed   8.335  2021.0  34.0
...            ...         ...      ...          ...     ...     ...   ...
5812          6483         NaN   Moscow          HWW   8.335  2021.0  31.0
5813          6494         NaN   Moscow          HWW   6.835  2021.0  16.0
5814          6505         NaN   Moscow          HWW  11.960  2022.0  17.0
5815          6516         NaN   Moscow          HWW   4.835  2020.0  43.0
5816          6527         NaN   Moscow          HWW  12.085  2022.0  18.0

[522 rows x 7 columns]

In [30]:
import altair as alt

In [33]:
import plotly.graph_objs as go